<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="icon" href="/images/EVENTO.ICO">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barrio&family=Baumans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e03d6b8c21.js" crossorigin="anonymous"></script>
  <style>
    /* Your custom CSS styles here */
    /* This style is for the articles section */
    article {
      --img-scale: 1.001;
      --title-color: black;
      --link-icon-translate: -20px;
      --link-icon-opacity: 0;
      position: relative;
      border-radius: 16px;
      box-shadow: none;
      background: #fff;
      transform-origin: center;
      transition: all 0.4s ease-in-out;
      overflow: hidden;
    }

    /* Basic article elements styling */
    article h2 {
      margin: 0 0 18px 0;
      font-family: "Bebas Neue", cursive;
      font-size: 1.9rem;
      letter-spacing: 0.06em;
      color: var(--title-color);
      transition: color 0.3s ease-out;
    }

    figure {
      margin: 0;
      padding: 0;
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }

    article img {
      max-width: 100%;
      transform-origin: center;
      transform: scale(var(--img-scale));
      transition: transform 0.4s ease-in-out;
    }

    .article-body {
      padding: 24px;
    }

    article a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: #28666e;
    }

    article a:focus {
      outline: 1px dotted #28666e;
    }

    article a .icon {
      min-width: 24px;
      width: 24px;
      height: 24px;
      margin-left: 5px;
      transform: translateX(var(--link-icon-translate));
      opacity: var(--link-icon-opacity);
      transition: all 0.3s;
    }

    /* Using the has() relational pseudo selector to update our custom properties */
    article:has(:hover, :focus) {
      --img-scale: 1.1;
      --title-color: #28666e;
      --link-icon-translate: 0;
      --link-icon-opacity: 1;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    /* Generic layout styles */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: "Figtree", sans-serif;
      font-size: 1.2rem;
      line-height: 1.6rem;
      background-image: linear-gradient(45deg, #0F1B24, #ffffff50);
      min-height: 100vh;
    }
    *{
        font-family:'Baumans', system-ui;
    }
    .hfont{
        font-family:'Barrio', system-ui;
        color: rgb(255, 255, 255);
    }
    .articles {
      display: grid;
      max-width: 1200px;
      margin-inline: auto;
      padding-inline: 24px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 24px;
    }

    @media screen and (max-width: 960px) {
      article {
        container: card/inline-size;
      }
      .article-body p {
        display: none;
      }
    }

    @container card (min-width: 380px) {
      .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
      }
      .article-body {
        padding-left: 0;
      }
      figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
    }
    nav{
      padding-top: 0px;
      background-color: rgba(0, 0, 0, 0.525);
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary pt-3" style="--bs-bg-opacity: 0;">
    <div class="container-fluid opacity-100">
      <a class="navbar-brand text-light ps-4" href="#">EVENTO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light ps-5" aria-current="page" href="/index">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light ps-5" href="#s1">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light ps-5" href="#s3">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light ps-5" href="/register">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light ps-5" HREF="#s4">CONTACTS</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search for the event!!" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
 <center><h1 class="hfont" style="margin: 20vh;margin-bottom: 10vh;">Events</h1></center> 
  <div class="container mt-4">
    <div class="articles">
      <% events.forEach(event => { %>
        <article>
          <div class="article-body">
            <h2 class="hfont" style="color: black;"><%= event.eventname %></h2>
            <p>Date: <%= event.eventdate %></p>
            <p>Ticket Price: <%= event.ticketprice %></p>
            <p>Venue: <%= event.venuename %></p>
            <p>Type: <%= event.etype %></p>
            <p>Contact: <%= event.econtact %></p>
            <a href="/details/<%= event.eventid %>"><button type="button" class="btn btn-secondary">DETAILS</button></a>
          </div>
        </article>
      <% }); %>
    </div>
  </div>
  
  <footer style="background-color: #0F1B24;margin-top: 15vh;">
    <center><h1 class="hfont" style="font-size:45px;padding:5vh"id="s4">CONTACT US</h1></center>
    <div class="row">
      <div class="col-4" style="padding-left:10vh;color:white">
         <h3>ADDRESS</h3><br>
         <p>JSS Hostel,<br>Srinivaspura,Kengeri,<br>Bangalore-560060</p><br><br>
         <h3>GENERAL ENQUIRES</h3>
         <p>evento@gmail.com<br>+91-990056460<br>+91-9740723439</p>
      </div>
      <div class="col-4" style="padding-left:10vh;color:white">
        <h3 style="margin-top: 34vh;">SOCAL MEDIA</h3><br>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
      <div class="col-4">
         <h2 class="hfont" style="font-size:40px;padding: 5vh;">EVENTO</h2>
         <p style="font-size:18px;padding: 2vh;color: white;">
          We are leading event management company <br>dedicatedto bringing your visions to life.<br> Creating unforgettable experiences tailored<br> for your unique requirements.
         </p>
      </div>
    </div>
  </footer>
 

</body>
</html>
